body {
  background-color: #1b262c;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: white;
}

.header {
  width: 100%;
  padding: 0.625rem;
  font-size: large;
  color: white;
  background-color: #0f4c75;
  text-align: center;
  margin-bottom: 1.25rem;
}

.searchList {
  padding: 0.813rem;
  color: white;
  border: 1px black;
}

.searchList:hover {
  font-weight: bold;
  cursor: pointer;
}

#todayWeather {
  margin-right: 0.625rem;
  padding: 0.625rem;
  color: white;
}

.currentWeatherContainer {
  border: 1px solid white;
  border-radius: 00.313rem;
  margin: 0.625rem;
}

.current {
  padding: 0.938rem;
}

.forcast {
  margin-top: 2rem;
}

.futureDay {
  background-color: #3282b8;
  border-style: hidden;
  border-radius: 0.313rem;
  margin: 0.625rem;
  padding: 0.313rem;
  color: white;
}
